gateway:
  # Number of instances of the gateway-server to run
  replicas: 1
  
  # Path prefix to serve dask-gateway api requests under
  # This prefix will be added to all routes the gateway manages
  # in the traefik proxy.
  prefix: "/services/dask-gateway"
 
  # The gateway server log level
  loglevel: DEBUG
    
  auth:
    # The auth type to use. One of {simple, kerberos, jupyterhub, custom}.
    type: jupyterhub
     
    jupyterhub:
      # A JupyterHub api token for dask-gateway to use. See
      # https://gateway.dask.org/install-kube.html#authenticating-with-jupyterhub.
      apiToken: {{ helm_jupyterhub_dask_gateway_api_token }}
      #apyUrl: http://proxy-public.jupyterhub.svc/hub/api
  backend:

    # The namespace to launch dask clusters in. If not specified, defaults to
    # the same namespace the gateway is running in.
    namespace: jupyterhub

    worker:
      # Cores request/limit for each worker.
      cores:
        request: 0.1
        limit: 1

      # Memory request/limit for each worker.
      memory:
        request: 128M
        limit: 2048M

traefik:
  # The proxy log level
  loglevel: INFO

  # Whether to expose the dashboard on port 9000 (enable for debugging only!)
  dashboard: true

  # Additional configuration for the traefik service
  service:
    type: ClusterIP
