---

kind: Endpoints
apiVersion: v1
metadata:
  name: haproxy-exporter
  namespace: monitoring
subsets:
  - addresses:
{% for node_name in groups['k8s_workers'] %}
      - ip: {{ hostvars[node_name].get('ansible_host') }}
{% endfor %}
    ports: 
      - name: http-metrics
        port: 9000
        protocol: TCP
