singleuser:
  storage:
    type: dynamic
    extraLabels: {}
    extraVolumes:
      - name: {{ helm_jupyterhub_user_share_pvc }}
        persistentVolumeClaim:
          claimName: {{ helm_jupyterhub_user_share_pvc }}
    extraVolumeMounts:
      - name: {{ helm_jupyterhub_user_share_pvc }}
        mountPath: /home/jovyan/shared
