# Ansible
version = 2
[plugins]
  [plugins."io.containerd.grpc.v1.cri"]
    [plugins."io.containerd.grpc.v1.cri".registry]
      [plugins."io.containerd.grpc.v1.cri".registry.mirrors]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."{{ container_registry_address }}"]
          endpoint = ["http://{{ container_registry_address }}"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."docker.io"]
          endpoint = ["http://{{ container_registry_address }}"]
          #endpoint = ["http://{{ container_registry_address }}", "https://registry-1.docker.io"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."registry-1.docker.io"]
          endpoint = ["http://{{ container_registry_address }}"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."quay.io"]
          endpoint = ["http://{{ container_registry_address }}"]
          #endpoint = ["http://{{ container_registry_address }}", "https://quay.io"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."gcr.io"]
          endpoint = ["http://{{ container_registry_address }}"]
          #endpoint = ["http://{{ container_registry_address }}", "https://gcr.io"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."k8s.gcr.io"]
          endpoint = ["http://{{ container_registry_address }}"]
          # endpoint = ["http://{{ container_registry_address }}", "https://k8s.gcr.io"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."registry.k8s.io"]
          endpoint = ["http://{{ container_registry_address }}"]
        [plugins."io.containerd.grpc.v1.cri".registry.mirrors."mcr.microsoft.com"]
          endpoint = ["http://{{ container_registry_address }}"]
      [plugins."io.containerd.grpc.v1.cri".registry.configs]
        [plugins."io.containerd.grpc.v1.cri".registry.configs."{{ container_registry_address }}".tls]
          insecure_skip_verify = true
{% if use_nvidia_container_runtime %}
  [plugins."io.containerd.runtime.v1.linux"]
    shim = "containerd-shim"
    runtime = "nvidia-container-runtime"
{% endif %}
