{# 
  Setup the service and ingest portion of the Keycloak application.
  We assume that if an IP address has been defined Keycloak is dedicated to that address.
  When no IP is defined then we assume Keycloak is managed from Ingress controller.
  When using the ingress controller TLS can be enabled.
#}
{% if helm_keycloak_address|length %}
ingress:
  enabled: false
  hostname: "{{ helm_keycloak_hostname }}"
  ingressClassName: "{{ helm_keycloak_ingress_class }}"
service:
  type: LoadBalancer
  loadBalancerIP: "{{ helm_keycloak_address }}"
{% else %}
ingress:
  enabled: true
  hostname: "{{ helm_keycloak_hostname }}"
  ingressClassName: "{{ helm_keycloak_ingress_class }}"
{% if helm_keycloak_tls_secret|length %}
  tls: true
  extraTls:
  - hosts:
    - "{{ helm_keycloak_hostname }}"
    secretName: {{ helm_keycloak_tls_secret }}
  secrets: []
{% endif %}
  path: /
  pathType: Prefix

service:
  type: ClusterIP
{% endif %}
