auth:
  adminUser: admin
  adminPassword: "{{ helm_keycloak_admin_password }}"
  managementPassword: "{{ helm_keycloak_management_password }}"
metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    namespace: monitoring
postgresql:
  enabled: false
{% if helm_keycloak_postgresql.password %}externalDatabase:
  host: "{{ helm_keycloak_postgresql.hostname }}"
  user: "{{ helm_keycloak_postgresql.username }}"
  password: "{{ helm_keycloak_postgresql.password }}"
  database: "{{ helm_keycloak_postgresql.database }}"
{% endif %}
