---

kind: Endpoints
apiVersion: v1
metadata:
  name: external-{{ _name }}-exporter
  namespace: monitoring
subsets:
  - addresses:
{% if _group %}
{% for node_name in groups[_group] %}
      - ip: {{ hostvars[node_name].get('ansible_host') }}
{% endfor %}
{% endif %}
{% for address in _addresses %}
      - ip: {{ address }}
{% endfor %}
    ports: 
      - name: http-metrics
        port: {{ _port | int }}
        protocol: TCP
