# Managed by Ansible
# Based on https://docs.k0sproject.io/main/high-availability/
defaults
    timeout connect 5s
    timeout client 1m
    timeout server 1m
frontend kubeAPI
    bind :6443
    mode tcp
    default_backend kubeAPI_backend
frontend konnectivity_agent
    bind :8132
    mode tcp
    default_backend konnectivity_backend_agent
frontend controllerJoinAPI
    bind :9443
    mode tcp
    default_backend controllerJoinAPI_backend
backend kubeAPI_backend
    mode tcp
{% for node_name in k0s_ha_controller_nodes %}
    server {{ node_name }} {{ hostvars[node_name]['ansible_host'] }}:6443 check check-ssl verify none
{% endfor %}
backend konnectivity_backend_agent
    mode tcp
{% for node_name in k0s_ha_controller_nodes %}
    server {{ node_name }} {{ hostvars[node_name]['ansible_host'] }}:8132 check check-ssl verify none
{% endfor %}
backend controllerJoinAPI_backend
    mode tcp
{% for node_name in k0s_ha_controller_nodes %}
    server {{ node_name }} {{ hostvars[node_name]['ansible_host'] }}:9443 check check-ssl verify none
{% endfor %}
listen stats
   bind *:9000
   mode http
   stats enable
   stats uri /
   http-request use-service prometheus-exporter if { path /metrics }
   option http-use-htx
