# Managed by Ansible
frontend kubeAPI
    bind :6443
    mode tcp
    default_backend kubeAPI_backend
backend kubeAPI_backend
    mode tcp
{% for node_name in k0s_ha_controller_nodes %}
    server {{ node_name }} {{ hostvars[node_name]['ansible_host'] }}:6443 check check-ssl verify none
{% endfor %}
