# Managed by Ansible
frontend controllerJoinAPI
    bind :9443
    mode tcp
    default_backend controllerJoinAPI_backend
backend controllerJoinAPI_backend
    mode tcp
{% for node_name in k0s_ha_controller_nodes %}
    server {{ node_name }} {{ hostvars[node_name]['ansible_host'] }}:9443 check check-ssl verify none
{% endfor %}
