# Managed by Ansible
# Based on https://docs.k0sproject.io/main/high-availability/
frontend konnectivity_agent
    bind :8132
    mode tcp
    default_backend konnectivity_backend_agent
backend konnectivity_backend_agent
    mode tcp
{% for node_name in k0s_ha_controller_nodes %}
    server {{ node_name }} {{ hostvars[node_name]['ansible_host'] }}:8132 check check-ssl verify none
{% endfor %}
