vrrp_track_process track_haproxy {
      process haproxy
      weight 10
}
vrrp_instance VI_1 {
      state MASTER
      interface {{ ansible_default_ipv4.interface }}
      virtual_router_id 51
      priority {{ groups['k8s_workers'].index(inventory_hostname) | int + 200 }}
      advert_int 1
      authentication {
         auth_type PASS
         auth_pass {{ k0s_ha_auth_password }}
      }
      virtual_ipaddress {
         {{ k0s_ha_cidr }}
      }
      track_process {
         track_haproxy
      }
      unicast_peer {
{% for node_name in k0s_ha_worker_nodes %}
        {{ hostvars[node_name]['ansible_host'] }}
{% endfor %}
      }
}
